body {

  font-family: 'Raleway';
  padding-top: 50px;
}


.business-header {
  height: 400px;
  background: url('https://static.pexels.com/photos/29585/pexels-photo-29585.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff;
}

.moto {
  text-shadow: 0 0 10px #000;
  color: #fff;
  font-size: 60px;
  font-family: 'Yellowtail';
  margin-top: 200px;
}

.img-center {
  margin: 0 auto;
  width: 100%;
  height: 280px;
}

footer {
  margin: 50px 0;
}

.fa-plus:before {
  content: "\f067";
  font-size: -webkit-xxx-large;
}

.fa-minus:before {
  content: "\f068";
  font-size: -webkit-xxx-large;
}

.equal {
  display: block;
  margin-bottom: -30px;
  margin-top: -7.5px;
}

.img-text {
  text-align: center;
}


h3 {
  text-align: center;
}

.col-half-offset{
    margin-left:4.166666667%
}

.col-lg-1 {
  margin-top: 120px;
}

.client-input, .child-input {
  display: none;
}

h5 {
  margin-top: 30px;
  margin-right: 40px;
}

#examples {
  margin-bottom: 20px;
}

.form-group {
  margin-top: 20px;
}

form {
  text-align: center;
}








